<!DOCTYPE html>
<head><title> life craft - the mastery of life</title></head>
<body>
<header>
<a href="index.html">
<img src="https://mail.google.com/mail/u/2?ui=2&ik=35c2dedb1e&attid=0.1&permmsgid=msg-a:r-1353441668030935494&th=1821b85ce5834eeb&view=att&disp=safe&realattid=f_l5tke2uq0" title="Dont know How the future will turns by others">
</a>
</header>
<hr>
<nav>
<table cellspacing="5" cellpadding="5">
<tr>
<td><a href="index.html">Home</a></td>
<td><a href="articles.html">Articles</a></td>
<td><a href="habits.html">Habits</a></td>
<td><a href="skills.html">Skills</a></td>
<td><a href="quotes.html">Quotes</a></td>
<td><a href="books.html">Books</a></td>
</tr>
</table>
<img src="https://www.hindugodwallpaper.com/images/gods/zoom/359_016.jpg" width="100px" height="100px">

<hr>
<h1><font color="red"> unorder list </font></h1>
<ul>
<li> sarath </li>
<li> raja </li>
<li> illuru </li>
</ul>
<h1><font color="green"> order list </font></h1>
<ol>
<li> illuru </li>
<li> raja </li>
<li> sarath </li>
</ol>

</nav><hr><hr>
<p> I think life is not predifined , my life and others life is different compare to you and me,so do what u like ,<br> Dont follow me and i dont follow you.</p>

<hr>
<marquee bgcolor="yellow">  Life is life  </marquee>
</body>