
<html><title> Rajasarath DEmo Html </title>
<head> title
</head>
<body>
<h1>welcome to demo</h1>
<h2>html</h2>
<h3>all tags</h3>
<h4>using</h4>
<h5>here</h5>
<h6>without dots</h6>
<hr>
<p>welcome to html demo class and written in paragraph using tag
 'p', for breaking paragraph use 'br' tag <br> then it automatically comes to next line</p>
<hr><hr><hr>
<marquee bgcolor="yellow"> Rajasarath </marquee>
<hr>
<h1><font color="red"> The abbr element </font></h1>
<h5> <abbr title="Sriram">God</abbr>here</h5>
<img src="https://www.hindugodwallpaper.com/images/gods/zoom/359_016.jpg" width="100px" height="100px">
<hr>

<h1><p><font color="green">for address use tag address</font></p></h1>
<address> 
illuru rajasarth<br>
s/o.Ramakrishna<br>
6-59,kottala, gadeguduru,<br>
rajuapalem , proddatur,<br>
ysrkadapa-516359.<br>
mobile- 9985887686.<br>
visit here-- <a href="https://www.google.com/maps/place/Charminar/@17.375173,78.4859013,12.6z/data=!4m5!3m4!1s0x3bcb978a6e1a939b:0xcb5a69e4aaf113fb!8m2!3d17.3615546!4d78.4746552"> Charminar</a> 
</address>

<hr>
<h3><font color="blue"> for bold use 'b' tag</font></h3>
<p>interested in -- <b> mobilephones </b></p>
<hr><hr>
<h3><font color="orange"> for BDI elements </font></h3>
<ol>
<li>one-<bdi>two</bdi>:001score</li>
<li>three-<bdi>four</bdi>:002score</li>
<li>five-<bdi>six</bdi>:003score</li>
<li>seven-<bdi>eight</bdi>:004score</li>
</ol>
<hr>
<h2><font color="yellow"> for BDO elements use "(bdo dir="rlt")"</font></h2>
<p> This is wrong</p>
<p><bdo dir="rtl">This is wrong</bdo></p>
<hr>
<h2><font color="red">Blockquote element</font></h2>
<blockquote>
Looking for a way to lift someone’s spirits? Positive quotes or words of encouragement can inspire anyone. Whether it’s your lifelong best friend or a stranger you pass on the street, taking a moment to deliver a positive and inspirational message can have a long-lasting effect on the well-being of both individuals. Lift someone’s spirits by checking out these special positive quotes of the day.
</blockquote>
<hr><hr>

<h2> Cite elements</h2>
<img src="https://www.hindugodwallpaper.com/images/gods/zoom/359_016.jpg" width="150" height="150" alt="the god">
<p><cite>the god </cite>sri ram is Ram</p>
<hr><hr>

<h5>code element</h5>
<p>this is <code> Rajasarath illuru</code> also calls</p>
<hr>
<h2>DEL Elements</h2>
<p>faviorate god <del>balaji </del><ins> sri ram</ins></p>
<hr>
<h2>STyle Elements</h2>
<p><dfn>name </dfn>rajasarath</p>
<p><em>name </em>illuru</p>
<p><i>name </i>kottala</p>
<hr>
<h2> Kbd element </h2>
<p>Press <kbd>Ctrl</kbd> + <kbd>C</kbd> to copy text (sarath).</p>

<p>Press <kbd>Ctrl</kbd> + <kbd>V</kbd> to Paste text (illuru).</p>
<hr><hr>

<h2>mark element</h2>
<p> This is <mark>Illuru </mark></p>

<hr>
<h2><font color="blue">meter element</font></h2>
<p>The meter element is used to display a gauge:</p>

<!--<lable for="disk_c">Data usage E: </lable> 
<meter id="disk_c" value="20" min="0" max="25">20 out of 25</meter><br>

<lable for="raja">illuru:</lable>
<meter id="illuru" value="1">40%</meter><br> -->
<hr>
<h2>pre element</h2>
<pre>
illuru
sarath
raja
king
</pre>
<hr><hr>
<h2> progress element</h2>
<!--<lable for="file"> sri ram:</lable>
<progress id="file" value="70" max="100">70%</progress>-->
<hr>
<h2> q element</h2>
<p>my favorite god:
<q>god is god</q> illuru</p>
<hr>
<h2> S element</h2>
<p><s>Sarath</s></p>
<p>Raja!</p>

<hr>
<h2> Type style </h2>
<p><small>sarath</small></p>
<p><strong>saarth</strong></p>
<p><sub>my actaul name sarath</sub></p>
<p><sup>my  name sarath</sup></p>
<hr><hr>

<h1>Template element</h1>

<p>Click the button below to display the hidden content from the template element.</p>

<button onclick="showContent()">show hidden data</button>

<template>
  <h2>ram</h2>
  <img src="https://www.hindugodwallpaper.com/images/gods/zoom/359_016.jpg" width="214" height="204">
</template>

<script>
function showContent() {
  var temp = document.getElementsByTagName("template")[0];
  var clon = temp.content.cloneNode(true);
  document.body.appendChild(clon);
}
</script>

<hr>
<h2>Time element</h2>
<p>Open from <time>10:00</time> to <time>21:00</time> every weekday.</p>

<p>I have a date on <time datetime="2008-02-14 20:00">Valentines day</time>.</p>

<hr>
<h2> U element</h2>
<p> my name is <u> sri ram</u></p>
<hr>
<h2> Var element </h2>
<p>The area of a triangle is: 3/5 x <var>b</var> x <var>h</var>, 
where <var>b</var> is the base, and <var>h</var>
 is the vertical height.</p>
<hr>

<h2>WBR element</h2>
<p>this is a
poem of html and css javascript<wbr>angulartypeofrepoherecomewith reposite
</p>
<hr><hr>
<audio controls>
<source src="https://samplelib.com/lib/preview/mp3/sample-3s.mp3" type="audio/mp3"></audio><br>

<video width="320" height="240" controls>
<source src="https://www.learningcontainer.com/download/sample-mp4-video-file-download-for-testing/" type="video/mp4"> </video>

<hr><hr>

<h2> form $ input element </h2>

<form action="/action_page.php">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
<hr>
<h2>text area element</h2>
<form action="/action_page.php">
  <p><label for="sriram">Review of sri rama:</label></p>
  <textarea id="sriram" name="sriram" rows="4" cols="50">At sriram.com you will learn how to devote god. They offer free tutorials in all god devoties with photos.</textarea>
  <br>
  <input type="submit" value="Submit">
</form>
<hr>
<h2> Button element</h2>
<button type="button"
onclick="alert('sriram hello')">click me!
</button>
<hr>

<h2>select element</h2>
<form action="/action_page.php">
<label for="mobiles">select a mobile:</label>
<select name="mobiles" id="mobiles">
<option value="apple">apple</option>
<option value="realme">realme</option>
<option value="redmi">redmi</option>
</select>
<br><br>
<input type="submit" value="submit">
</form>

<hr><hr>
<h2>optgroup element</h2>
<form action="/action_page.php">
  <label for="bikes">Choose a bike:</label>
  <select name="t-shirt" id="t-shirts">
    <optgroup label="play boy ">
      <option value="pollo">pollo</option>
      <option value="cagsg">cagsg</option>
    </optgroup>
    <optgroup label="adda">
      <option value="mekd">Mekd</option>
      <option value="audi">Audi</option>
    </optgroup>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<hr>
<h2> fieldset element</h2>
<form action="/action_page.php">
 <fieldset>
  <legend>Personalid:</legend>
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email"><br><br>
  <label for="birthday">Birthday:</label>
  <input type="date" id="birthday" name="birthday"><br><br>
  <input type="submit" value="Submit">
 </fieldset>
</form>

<hr>
<h2> output element</h2>

<form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
<input type="range" id="a" value="50">
+<input type="number" id="b" value="25">
=<output name="x" for="a b"></output>
</form>
<hr>
<h2> iframe element</h2>
<iframe src="https://stackblitz.com"
title="appcomponet.ts">
</iframe>
<hr>
<h2> image element</h2>
<img src="https://www.hindugodwallpaper.com/images/gods/zoom/359_016.jpg" ait="Sriram" width="100" height="100">
<hr>
<h2>link element</h2>
<a href="https://www.w3schools.com">Visit W3Schools.com!</a>

<hr>
<h2> nav elemeny</h2>
<nav>
<a href="/css/">create</a> |
<a href="/js/">loging</a> |
<a href="/python/">logout</a>
</nav>
<hr>
<h2>list tags</h2>
<ul>
<li>raja</li>
<li>sarath</li>
<li>illuru</li>
</ul>
<br>
<ol>
<li>sarath</li>
<li>raja</li>
<li>illuru</li>
</ol>
<br>
<br>
<dl>
<dt>raja</dt>
<dd>bad person</dd>
<dt>sarath</dt>
<dd> illuru </dd>
</dl>

<hr>
<h2>table elements</h2>
<table border="2">
  <thead>
    <tr>
      <th>year</th>
      <th>ctc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021</td>
      <td>60000</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>70000</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>total</td>
      <td>130000</td>
    </tr>
  </tfoot>
</table>
<hr>
<h2> style element</h2>
<style>
h1 {color:orange;}
p {color:green;}
</style>
<body>

<h1>Rajasarath</h1>
<p>illuru.</p>
<hr>
<h2>div element</h2>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
</style>
<div class="myDiv">
  <h2>illuru</h2>
  <p>graduation may end</p>
</div>
<hr>
<h2>span element</h2>
<p>its too short<span style="color:blue;font-weight:bold">
blue</span>mobile and laptop have
<span style="color:darkolivegreen;font-weight:bold">dark green
</span> mobile.</p>
<hr>
<h2> footer element</h2>
<footer>
  <p>Author: sarath<br>
  <a href="mailto:dummy@gmail.com">dooram123@gmail.com</a></p>
</footer>

</body>
